
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>payment successful</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrap/css/signin.css' %}" rel="stylesheet">
 
    <link href="{% static 'bootstrap/css/welcome.css' %}" rel="stylesheet">
 
</head>
<body>
    <div class="onepage">
        <div class="onepage-bg" id="onepagebg">
            <div class="container">
                <div class="row">
                    <div class="title-text">
                        <div class="col-md-12 headfrontsize">
                            <h1 class="form-signin-heading">YOUR PAYMENT IS SUCCESSFUL!</h1>
    <a class="btn btn-default" href="/cars/userplatform" data-toggle="tab" onclick="">back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>