<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_vehicle</title>
</head>
<body>
    <form action="" method="post">
        <p>VEHI_LICE:<input type="text" name="vehi_lice"></p>
        <p>VEHI_VIN:<input type="text" name="vehi_vin"></p>
        <p>VEHI_MAKE:<input type="text" name="vehi_make"></p>
        <p>VEHI_MODEL:<input type="text" name="vehi_model"></p>
        <p>VEHI_YEAR:<input type="number" name="vehi_year"></p>    
        <p>VEHI_CLASS:<input type="number" name="class_id"></p>     
        <p>VEHI_OFFICE:<input type="number" name="office_id"></p>  
        <button>submit</button>
    </form>
</body>
</html>